{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block extrastyle %}
  <link href="{% static 'plugins/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block sidebar %}
{% include "dashboard/include/sidebar.html" with active='Support' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Support' %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Support managers</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="support-managers row">
      {% for support in supports %}
        <div class="col-xl-4 col-lg-6 col-md-12">

          <!-- support managers -->
          <div class="support-manager">
            <div class="avatar">
              <div class="avatar-wrapper">
                <img src="{% static "img/" %}user-{{ support.avatar }}.jpg" alt="User Avatar" class="img-circle">
              </div>
            </div>

            <div class="contact-section">
              <div class="contact-info contact-name">{{ support.name }}</div>

              <div class="contact-info contact-email">
                <div class="icon text-info"><i class="icon-envelope-letter"></i></div>
                <div class="description">
                  <a href="mailto:{{ support.email|default:"" }}">{{ support.email|default:"E-mail" }}</a>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="contact-info contact-phone">
                <div class="icon text-info"><i class="icon-call-out"></i></div>
                <div class="description">
                  <a href="tell:{{ support.phone_number|default:"" }}">{{ support.phone_number|default:"Phone" }}</a>
                </div>
                <div class="clearfix"></div>
              </div>

              {% if support.skype %}
                <div class="contact-info contact-skype">
                  <div class="icon text-info"><i class="icon-social-skype"></i></div>
                  <div class="description">
                    <a href="skype:{{ support.skype|default:"" }}?call">{{ support.skype|default:"Skype" }}</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              {% endif %}

              {% if support.website %}
                <div class="contact-info contact-phone">
                  <div class="icon text-info"><i class="icon-home"></i></div>
                  <div class="description">
                    <a href="{{ support.website|default:"#" }}">{{ support.website|default:"" }}</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              {% endif %}
            </div>
          </div>
          <!-- /.support managers -->

        </div>
      {% endfor %}
      </div>
    </div>
    <!-- /.card-body -->
  </div>
{% endblock content %}
